.plot{
    /* margin: 30px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
}
.plot_name{
    margin: 30px;
    margin-left: 50px;
}

/* plot.module.css */
.plot_image_container {
    display: flex;
    justify-content: center; /* Horizontally center the image */
    align-items: center; /* Vertically center the image */
    height: 100%; /* Make the container take up the full height of its parent */
  }
  
  .plot_image {
    max-width: 100%;
    max-height: 100%; /* Ensure the image doesn't exceed its container's height */
  }
  
.plot_details{
        width: 100%;
        overflow: auto;
        height: 200px;
}
.plot_details_h{
    color: black;
}
.plot_details_p{
    color: black;
}
.card{
    /* margin-top: 10px; */
    display: flex;
    width: 300px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid red;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    color: black;
}
.mincard{
    width: 90%;
    display: flex;
    height: 40%;
    border-radius: 5px;
    border: 1px solid red;
    justify-content: space-around;
    align-items: center;
}