body{
    padding: 0px;
}
.main_image{
    position: relative;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/image/user/main_image.jpg');
}
.search{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;}


.time{
    border-radius: 3px;
    border: none;
    padding-left: 10px;
    margin-right: 5px;
    height: 100%;
}
.date{
    border-radius: 3px;
    border: none;
}
.date_time{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.product_version{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
}


  
